@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* globlal styles */

:root {
    --light:#e4efe7;
    --primary:#064420;
    --radius:0.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--primary);
    font-family: 'Rubik', sans-serif;
}

body {
    background: var(--light);
}

/* button container styles */

.container {
    margin: 5rem 0;
}

.btn-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
}

/* button styles */

.filter-btn {
    display: flex;
    gap: 1rem;
}

.filter-btn button {
    background: transparent;
    padding: 0.5rem;
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: all 0.5s;
    text-transform: capitalize;
}

.filter-btn button:hover {
    background: var(--primary);
    color: var(--light);
}

/* product container styles */

.product-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.5rem;
    row-gap: 2.5rem;
}

.product-item {
    display: flex;
    gap: 1rem;
    letter-spacing: 0.1rem;
}

.product-item > img {
    border: 2px solid var(--primary);
    border-radius: var(--radius);
    max-width: 30%;
}

.product-dtl {
    width: 50%;
}

.product-dtl > header {
    display: flex;
    justify-content: space-between;
}

.product-dtl hr {
    margin: 0.5rem 0 1rem 0;
}

/* media queries */
@media (max-width:1200px) {
    .product-container {
        grid-template-columns: 1fr;
    }

    .product-item {
        justify-content: center;
    }
}

@media (max-width:800px) {
    .product-item {
        font-size: 0.875rem;
    }
}

@media (max-width:768px) {
    .product-item {
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .product-dtl {
        width: 80%;
    }
}